@use 'variables' as *;

.card {
  width: $card-width;
  height: $card-height;
  box-sizing: border-box;
  background-color: $card-background-color;
  overflow: hidden;
  border: $card-border;
  border-radius: $card-border-radius;

  &__image {
    padding: $card-image-padding;
    display: flex;
    justify-content: center;

    img {
      width: $card-img-width;
      height: $card-img-height;
      display: block;
      object-fit: cover;
    }
  }

  &__name {
    font-size: $card-name-font-size;
    font-weight: 500;
    line-height: $card-name-line-height;
    margin: 16px $card-side-margin 4px;
    color: $color-dark;
  }

  &__code {
    font-size: $card-code-font-size;
    line-height: $card-code-line-height;
    margin: 0 $card-side-margin 16px;
    color: $color-muted;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: $button-width;
    height: $button-height;
    background-color: $color-button;
    color: $color-white;
    border: 1px solid transparent;
    border-radius: $card-border-radius;
    font-size: $button-font-size;
    font-weight: 700;
    line-height: $button-line-height;
    margin: 16px $card-side-margin;
    cursor: pointer;

    &:hover {
      background-color: $color-white;
      border-color: $color-button;
      color: $color-button;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px $card-side-margin 16px;
    height: $card-name-line-height;
  }

  &__label1 {
    font-size: $price-label1-font-size;
    line-height: $card-name-line-height;
    color: $color-muted;
  }

  &__label2 {
    font-size: $price-label2-font-size;
    line-height: $card-name-line-height;
    font-weight: 700;
    color: $color-dark;
  }
}
