$font-family: Roboto, sans-serif;
$card-width: 200px;
$card-height: 408px;
$color-button: #00acdc;
$stars-margin-left: 17px;
$stars-margin-top: 12px;
$stars-width: 166px;
$stars-height: 18px;
$star-size: 16px;
$star-margin-right: 4px;
$card-background-color: #fff;
$color-dark: #060b35;
$color-muted: #616070;
$color-border: #f3f3f3;
$color-white: #fff;
$card-border-radius: 5px;
$card-border: 1px solid $color-border;
$card-image-padding: 33px 20px 24px;
$card-img-width: 160px;
$card-img-height: 134px;
$card-name-font-size: 12px;
$card-name-line-height: 18px;
$card-code-font-size: 10px;
$card-code-line-height: 14px;
$card-side-margin: 17px;
$button-width: 166px;
$button-height: 40px;
$button-font-size: 14px;
$button-line-height: 16px;
$price-label1-font-size: 12px;
$price-label2-font-size: 16px;
$revi-font-size: 10px;
$revi-line-height: 14px;
